{% extends './base.html' %}
{% block pagetitle %}{{ page_title }}{% endblock %}
{% block content %}
<section class="bg-dark bg-gradient">
	<div class="text-md-center py-5 text-white">
		<h1>WE WORK FOR A SMARTER FUTURE</h1>
	</div>
</section>
<section>
	<div class="container row py-5 mx-auto">
		<div class="col-md-6">
			<p class="text-info">OUR MISSION</p>
			<p>To become an indispensable partner to our clients by offering the finest products and solutions to their problem in the field of technology combined with localization and service excellence. To envision design and construct the most magnificent products and software and provides quality return on investment to our customers.</p>
		</div>
		<div class="col-md-6">
			<p class="text-info">OUR VALUES</p>
			<p>Quality, customer satisfaction, Transparency, After sales service, corporate responsibility are the pillars of our values  and form the corner stone of our approach that webring of our approach that we bring to every engagement.</p>
		</div>
	</div>
	<div class="container text-md-center py-5 mx-auto">
		<p class="text-info">OUR VISION</p>
		<div class="">
			<p>
				To use our industry insights and domain experience to our advantage and provide innovative, high quality, superior and cost effective solutions that brings overwhelming growth to the society and the stakeholders. To becoming the leading edge to technology provider in India, South East Asia and Middle East by creating high quality products and services in order to fulfill our clients expectation and achieve measurable competitive advantage.
			</p>
		</div>
	</div>
</section>
<section>
	<div class="container py-5">
		<div class="text-md-center mb-3">
			<h4>OUR TEAM</h4>
		</div>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for member in team %}
			<div class="col">
				<div class="card border-0" aria-hidden="true">
					<span class="placeholder bg-danger col-12 py-5"></span>
					<!--<img src="..." class="card-img-top" alt="..."-->
					<div class="card-body">
						<h5 class="card-title">{{ member.name }}</h5>
						<p>{{ member.role }}</p>
						<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}