{% load static %}
<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="og:title" property="og:title" content="Dexteronix technologies pvt ltd">
    <meta name="og:description" property="og:description" content="Dexteronix technologies pvt ltd is a company that has been formed by a group of students having vivid experience and exposure in IoT, AI and Electronics. It is a young company based in Greater Noida, Delhi NCR.">
    <meta name="og:image" property="og:image" content="media/logo.jpeg">
    <meta name="description" content="Dexteronix technologies pvt ltd is a company that has been formed by a group of students having vivid experience and exposure in IoT, AI and Electronics. It is a young company based in Greater Noida, Delhi NCR.">
    <meta name="keyword" content="Dexteronix,technologies,robotics,automation,iot,smartdevices">
    <meta name="twitter:card" content="Dexteronix technologies pvt ltd is a company that has been formed by a group of students having vivid experience and exposure in IoT, AI and Electronics. It is a young company based in Greater Noida, Delhi NCR.">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_PATH }}/media/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ MEDIA_PATH }}/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ MEDIA_PATH }}/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ MEDIA_PATH }}/media/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ MEDIA_PATH }}/media/favicon/site.webmanifest">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  </head>
  <body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
  </html>